.skills {
  text-align: center;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li {
  background: #0077ff;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
}
